# Pathao Credentials
PATHAO_CLIENT_ID=your_client_id
PATHAO_CLIENT_SECRET=your_client_secret
PATHAO_USERNAME=your_email
PATHAO_PASSWORD=your_password
PATHAO_STORE_ID=your_store_id

# Webhook Secret (Provided by you during integration)
PATHAO_WEBHOOK_SECRET=your_generated_secret

# MongoDB Connection String (If using Database storage)
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/myFirstDatabase
